* , *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/********** GRID **********/

/*.col-01 { width: 80px; }
.col-02 { width: 180px; }
.col-03 { width: 280px; }
.col-04 { width: 380px; }
.col-05 { width: 480px; }
.col-06 { width: 580px; }
.col-07 { width: 680px; }
.col-08 { width: 780px; }
.col-09 { width: 880px; }
.col-10 { width: 980px; }
.col-11 { width: 1080px; }
.col-12 { width: 1180px; }
*/

.col-01 { width: 6.7797%; } /* (80 / 1180) * 100 */
.col-02 { width: 15.2542%; }
.col-03 { width: 23.7288%; }
.col-04 { width: 32.2034%; }
.col-05 { width: 40.6780%; }
.col-06 { width: 49.1525%; }
.col-07 { width: 57.6271%; }
.col-08 { width: 66.1017%; }
.col-09 { width: 74.5763%; }
.col-10 { width: 83.0508%; }
.col-11 { width: 91.5254%; }
.col-12 { width: 100%; }

#container { 
	width: 100%;
	max-width: 1220px;
	margin: auto;
	padding: 0 20px;
	overflow: auto; 
}

#container :last-child { 
	margin-right: 0!important; 
}

.col-01,
.col-02,
.col-03,
.col-04,
.col-05,
.col-06,
.col-07,
.col-08,
.col-09,
.col-10,
.col-11,
.col-12,
.news img {
	margin-right: 1.6949%;
	margin-bottom: 1.6949%;
	float: left;
	display: block;
}

.row {
 	padding: 0 0 20px;
 	overflow: auto;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/********** Formatação **********/

body { 
	font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
	margin-bottom: 1.6949%;
}

h1 {
	margin: 3.4482% 0 0; /* 20 / 580 * 100 */
}

nav ul { /* 580px */
	margin: 5.1724% 0 1.7241%;
	padding: 0;
	list-style: none;
	text-align: right;
}

nav ul li { /* 580px */
	display: inline-block;
	margin-left: 3.4482%;
}

.hero, 
.highlight,
.links {
	overflow: auto;
}

.hero { /* 1180px */
	height: 400px;
	background-image: url("../img/hero.jpg");
	background-size: cover;
	position: relative;
	margin-bottom: 5.0847%;
}

.hero div {
	position: absolute;
	left: 0;
	bottom: 40px;
}

.hero h2 {
	padding-bottom: 0!important;
}

.hero h2,
.hero p {
	padding: 20px;
	background-color: rgba(0,0,0,0.8);
	margin: 0;
	color: #eee;
	float: left;
	clear: both;
}

.highlight,
.links {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #333;
}
